<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>
            [Agibuild.Fulora.Core]*,
            [Agibuild.Fulora.Adapters.Abstractions]*,
            [Agibuild.Fulora.Runtime]*,
            [Agibuild.Fulora.DependencyInjection]*
          </Include>
          <Exclude>
            [Agibuild.Fulora.Testing]*,
            [Agibuild.Fulora.UnitTests]*,
            [Agibuild.Fulora.Platforms]*,
            [Agibuild.Fulora.Adapters.Android]*,
            [Agibuild.Fulora]*
          </Exclude>
          <ExcludeByAttribute>
            Obsolete,
            GeneratedCode,
            CompilerGenerated,
            ExcludeFromCodeCoverage
          </ExcludeByAttribute>
          <SingleHit>false</SingleHit>
          <UseSourceLink>false</UseSourceLink>
          <IncludeTestAssembly>false</IncludeTestAssembly>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
